<div class="grid grid-cols-2">
<aside>
<h2 class="text-xl font-bold mb-2"><%= user.username %></h2>
<img src="<%= user.avatar %>" class="w-20 h-20 rounded-full mb-2"/>
<img src="/images/megaphone1.jpg" alt="megaphone" class="w-6 h-6 cursor-pointer" onclick="userSpeech(<% user.username %>)" />
<p class="mb-4"> 
  <span class="<%= user.status === 'online' ? 'text-green-500' : 'text-gray-400' %>">
    <%= user.status %>
  </span>
</p>

  <button class="bg-orange-500 rounded w-36 h-10 p-2 text-white" onclick="handleBooking()">Ask <%= user.username %> out</button>
</aside>  
<aside class="mt-10">
  <label for="pet-select">Environment:</label>

<select name="environment" id="env-select">
  <option value="">--Choose an option--</option>
  <option value="https://playcanv.as/p/Giqae3Dm/">Open Maze</option>
  <option value="https://playcanv.as/p/c1o59wX5/">Interior Bungalow</option>
  <option value="https://playcanv.as/p/yQ1cNsmW/">Walled</option>
  <option value="http://open-maze.com">Parrot</option>
  <option value="http://bungalow-inside.com">Spider</option>
  <option value="http://walled-example.com">Goldfish</option>
</select>
<br/>
<hr/>
<br/>
  <label for="duration-select">Duration (mins):</label>

<select name="duration" id="duration-select">
  <option value="">--Choose an option--</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15" disabled>15</option>
</select>
</aside>
</div>

<script>
  function userSpeech(u) {
    let user = u;
    window.alert(user+" is speaking..")
  }

  function generateRoomId() {
    return Math.random().toString(36).substring(2, 15);
  }
  function getTodayDate() {
    let today = new Date();
    const dd = String(today.getDate()).padStart(2, '0');
    const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    const yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    return today;
  }
  function getEnvironment() {
    const values = [
      "https://playcanv.as/p/Giqae3Dm/",
      "https://playcanv.as/p/yQ1cNsmW/",
      "https://playcanv.as/p/c1o59wX5/",
      "https://playcanv.as/p/Giqae3Dm/",
      "https://playcanv.as/p/yQ1cNsmW/",
      "https://playcanv.as/p/c1o59wX5/",
    ],
        valueToUse = values[Math.floor(Math.random() * values.length)];
    // do something with the selected value
    return valueToUse;
}

  const bookings = [];

  function handleBooking() {
    const envSelect = document.getElementById('env-select');
    const durationSelect = document.getElementById('duration-select');
    let selectedEnv = envSelect.value;
    let selectedDuration = durationSelect.value || '5';
    if (selectedEnv === "") {
      window.alert("Default duration is 5 mins, but you MUST select an environment!");
      return;
    } else {
    const roomId = generateRoomId();
    const theDate = getTodayDate();
  //  const theEnv = getEnvironment();

   // let storedString = `${theDate} Room:${roomId} - ${theEnv}`;
  // const htmlink = `<a href="${theEnv}" class="text-blue-500 underline hover:text-blue-700" target="_blank">${theEnv}</a>`;
   // let booking = `RoomID: ${roomId} on ${theDate} at ${theEnv}`;
   let booking = `RoomID: ${roomId} on ${theDate} at ${selectedEnv} for ${selectedDuration} mins`;
    bookings.push(booking);
    console.log("Bookings array ", bookings);
    localStorage.setItem('bookings', JSON.stringify(bookings));
    window.alert(`Nice! You've booked ${booking}. Check the Notifications tab.`);
    }
  }
</script>